# 1. Basics of Python Using Strings

#1. Greeting Message
Create a variable `customer_name` with the value "Priya". Print a personalized greeting
message: "Hello, Priya! Welcome."

In [ ]:
customer_name = "Priya"
print(f"Hello, {customer_name}! Welcome.")

Hello, Priya! Welcome.

#2. Item Label </br>
Create two variables: `item_name` with "Mango Blast" and `price_per_item` with 80. </br>
Print a formatted label showing both pieces of information: "Item: Mango Blast, Price: 80 INR".

In [ ]:
item_name ="Mango Blast"
price_per_item = 80.0
print(f"Item: {item_name}, Price: {price_per_item} INR")

Item: Mango Blast, Price: 80.0 INR

#3. Order Summary
Create variables `item1` ("Vanilla Delight"), `item2` ("Chocolate Chip"), and `total_cost`
(300). Print a summary line: "Order: Vanilla Delight, Chocolate Chip. Total: 300 INR."

In [ ]:
item1 = "Vanilla Delight"
item2 = "Chocolate Chip"
total_cost = 300
print(f"Order: {item1}, {item2}. Total: {total_cost} INR")

Order: Vanilla Delight, Chocolate Chip. Total: 300 INR

#4. Dynamic Message
Create variables `staff_name` ("Arjun") and `current_time` ("10:00 AM"). Print a message
announcing the staff member on duty: "Current staff member on duty: Arjun. Time: 10:00
AM."

In [ ]:
staff_name = "Arjun"
current_time = "10:00 AM"
print(f"Current staff member on duty: {staff_name}. Time: {current_time}.")

Current staff member on duty: Arjun. Time: 10:00 AM.

#5. String Length
Find and print the length of the string "Strawberry Sensation".

In [ ]:
print(len("Strawberry Sensation"))

20

#6. Capitalization
Create a variable `flavor_name` with "butterscotch crunch". Print the flavor name with the
first letter of each word capitalized.

In [ ]:
flavor_name = "butterscotch crunch"
print(flavor_name.title())

Butterscotch Crunch

#7. Finding Substrings
Check if the word "Milk" is present in the ingredient list string "Milk, Cream, Sugar,
Vanilla". Print `True` or `False` based on the result.

In [ ]:
cart = ["Milk", "Cream", "Sugar", "Vanilla"]
print("Milk" in cart)
print("Milky" in cart)

True
False

#8. Replacing Text
In the string "The order is for Rahul. Total amount: 250 INR.", replace the name "Rahul"
with "Sneha". Print the new string.

In [ ]:
s1= "The order is for Rahul. Total amount: 250 INR."
s1_new=s1.replace("Rahul", "Sneha")
print(f"The new string is '{s1_new}'")

The new string is 'The order is for Sneha. Total amount: 250 INR.'

#9. Trimming Whitespace
Remove any leading or trailing spaces from the string " Chocolate Fudge " and print the
cleaned string.

In [ ]:
z = " Chocolate Fudge  "
print(f"Before trimming whitespaces: '{z}'")
print(f"After trimming whitespaces: '{z.strip()}'")

Before trimming whitespaces: ' Chocolate Fudge  '
After trimming whitespaces: 'Chocolate Fudge'

#10. Splitting a String
Split the string "Monday,Tuesday,Wednesday" by the comma and print the resulting list
of days.

In [ ]:
count = 0
week_days = "Monday,Tuesday,Wednesday"
l = week_days.split(',')
print(f"The resulting list of days is {l}")

The resulting list of days is ['Monday', 'Tuesday', 'Wednesday']

#11.Joining a List
Join the list of ingredients `['Milk', 'Sugar', 'Cream']` into a single string separated by
hyphens: "Milk-Sugar-Cream".

In [ ]:
breakfast_cart = ['Milk', 'Sugar', 'Cream']
print('-'.join(breakfast_cart))

Milk-Sugar-Cream

#12. Formatted Receipt Line
Use an f-string to print a receipt line for an item. The item is "Pista" and the price is 120
INR. The output should be "Item: Pista, Price: 120.00 INR".

In [ ]:
item = "Pista"
price = 120.00
print(f"Item: {item}, Price: {price:.2f} INR")

Item: Pista, Price: 120.00 INR

#13. Multi-line String
Create a multi-line string that holds an address: "Shop No. 5, Main Road, City Center".
Print this string.

In [ ]:
address= '''Shop No. 5,
Main Road,
City Center.'''
print(address)

Shop No. 5,
Main Road,
City Center.

#14. String Reversal
Take the string "Daily Report" and print it in reverse order.

In [ ]:
rep = "Daily Report"
rep[::-1]

'tropeR yliaD'

#15. Character Counting
Count the number of times the letter 'a' appears in the string "Banana Caramel".

In [ ]:
cup = "Banana Caramel"
count = 0
for i in range(len(cup)):
  if cup[i] == "a":
    count +=1
    print(f"found a vowel 'a' for {count} time")

print(f"No. of a's in {cup} is {count}")

found a vowel 'a' for 1 time
found a vowel 'a' for 2 time
found a vowel 'a' for 3 time
found a vowel 'a' for 4 time
found a vowel 'a' for 5 time
No. of a's in Banana Caramel is 5

## 2. Flow Control Blocks - if/else and loops

#1. Single Condition Check
Create a variable `current_stock` with the value 50. If `current_stock` is less than 20, print
"Low stock warning."

In [ ]:
current_stock = eval(input("Enter the current stock value: "))
if current_stock < 20:
  print("Low stock warning")

Enter the current stock value: 3
Low stock warning

#2. Basic if/else
Create a variable `order_status` with "Pending". If the status is "Pending", print "Order is
being prepared.". Otherwise, print "Order is complete."

In [ ]:
order_status = input("Enter Order Status: ")
if order_status == "pending":
  print("Order is being prepared.")
else:
  print("Order is complete.")

Enter Order Status: pending
Order is being prepared.

#3. Multiple Conditions with elif
Create a variable `temperature` with 25. If the temperature is above 30, print "High
ambient temperature.". If it's between 20 and 30 (inclusive), print "Normal operating
temperature.". Otherwise, print "Low ambient temperature."

In [ ]:
temperature = eval(input("Enter current temperature:"))
if temperature > 30:
  print("High ambient temperature.")
elif 20 > temperature > 31 :
  print("Normal operating temperature.")
else:
  print("Low ambient temperature.")

Enter current temperature:60
High ambient temperature.

In [ ]:
temperature = eval(input("Enter current temperature:"))
if temperature > 30:
  print("High ambient temperature.")
elif temperature in range(20, 31) :
  print("Normal operating temperature.")
else:
  print("Low ambient temperature.")

Enter current temperature:25
Normal operating temperature.

#4. Price-based Discount
A customer's total bill is 550 INR. If the total is over 500 INR, a 10% discount is applied.
Calculate and print the final amount. Otherwise, print the original total.

In [ ]:
total_bill = eval(input("Enter total bill amount: "))
if total_bill > 500:
  total_bill -= total_bill * 0.10
  print(f"The total billed amount after 10% discount is {total_bill}")
else:
  print(f"The total billed amount is {total_bill}")

Enter total bill amount: 76
The total billed amount is 76

#5. For Loop: Iterating over a list
Print each item from the list of flavors: `['Vanilla', 'Chocolate', 'Strawberry']`.

In [ ]:
for i in ['Vanilla', 'Chocolate', 'Strawberry']:
  print(i)

Vanilla
Chocolate
Strawberry

#6. For Loop with a condition
Iterate through the list of flavors `['Vanilla', 'Chocolate', 'Strawberry', 'Mango']`. Print only
the flavors that are not 'Strawberry'.

In [ ]:
flavors = ['Vanilla', 'Chocolate', 'Strawberry', 'Mango']
for i in flavors:
  if i != "Strawberry":
    print(i)

Vanilla
Chocolate
Mango

#7. While Loop for a Countdown
Simulate a timer for a process that takes 5 minutes. Start a variable `timer` at 5 and print
a message each time it decreases, until it reaches 0. E.g., "5 minutes remaining...", "4
minutes remaining...", etc.

In [ ]:
timer = int(input("Enter timer countdown in minutes: "))
print(f"Your time starts now! {timer} minutes is set.")
for i in range(timer,0,-1):
  timer -= 1
  print(f"{timer} minutes remaining...")
print(f"{timer}. time up!")

Enter timer countdown in minutes: 5
Your time starts now! 5 minutes is set.
4 minutes remaining...
3 minutes remaining...
2 minutes remaining...
1 minutes remaining...
0 minutes remaining...
0. time up!

In [ ]:
timer2 = int(input("Enter timer countdown in minutes: "))
timer2 *= 60
print(f"Your time starts now! Timer for {timer2} seconds is set.")
for i in range(timer2, 0, -1):
  timer2 -= 1
  if timer2 in range(120, 99, -1):
    print(f"110 secs left..")
  elif timer2 in range(99, 89, -1):
    print(f"80 secs left..")
  elif timer2 in range(89, 69, -1):
    print(f"70 secs left..")
  elif timer2 in range(69, 49, -1):
    print(f"50 secs left..")
  elif timer2 in range(49, 29, -1):
    print(f"30 secs left..")
  else:
    print(f"last {timer2} seconds left" )
print("time up!")

Enter timer countdown in minutes: 2
Your time starts now! Timer for 120 seconds is set.
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
110 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
80 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
70 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
50 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
30 secs left..
last 29 seconds left
last 28 seconds left
last 27 seconds left
last 26 seconds left
last 25 seconds left
last 24 seconds left
last 23 seconds left
last 22 seconds left
last 21 seconds left
last 20 seconds left
last 19 seconds left
last 18 seconds left
last 17 seconds left
last 16 seconds left
last 15 seconds left
last 14 seconds left
last 13 seconds left
last 12 seconds left
last 11 seconds left
last 10 seconds left
last 9 seconds left
last 8 seconds left
last 7 seconds left
last 6 seconds left
last 5 seconds left
last 4 seconds left
last 3 seconds left
last 2 seconds left
last 1 seconds left
last 0 seconds left
time up!